extends ./layout.jade
block vars
  - var title = 'Home'

block content
      #map-section.container-fluid
        .row
          .col-md-6.col-md-offset-3
            .page-header
              h1
                | Créez votre compte 
                small Citoyen
            if error
              p.alert.alert-danger ERROR : #{error}
            |           
            form#creationcitoyenform(action='creationcitoyen', method='post')
              .input-group.conn-input
                span#basic-addon1.input-group-addon Nom
                |               
                input#lname.form-control(type='text', placeholder='Nom', name='lname', aria-describedby='basic-addon1')
              |             
              .input-group.conn-input
                span#basic-addon1.input-group-addon Pr&eacute;nom
                |               
                input#fname.form-control(type='text', placeholder='Prénom', name='fname', aria-describedby='basic-addon1')
              |             
              .input-group.conn-input
                span#basic-addon1.input-group-addon &Acirc;ge
                |               
                input#age.form-control(type='number', placeholder='Âge', name='age', aria-describedby='basic-addon1')
              |             
              .input-group.conn-input
                span#basic-addon1.input-group-addon Mail
                |               
                input#mail.form-control(type='email', placeholder='Mail', name='mail', aria-describedby='basic-addon1')
                |               
                input(type='submit', style='position: absolute; left: -9999px; width: 1px; height: 1px;', tabindex='-1')
            |           
            .g-signin2.conn-input(data-onsuccess='onSignIn')
            |           
            button.btn.btn-default(type='submit', form='creationcitoyenform') Connexion

script(type='text/javascript').
  var map = new ol.Map({
  target: 'map',  //'map' est l'id du div dans lequel va se trouver la map
  layers: [
  new ol.layer.Tile({
  source: new ol.source.Stamen({layer: 'terrain'})
  })
  ],
  view: new ol.View({
  center: ol.proj.fromLonLat([-73.62, 45.48 ]),
  zoom: 14
  })
  });
  // jQuery (necessary for Bootstrap's JavaScript plugins)
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  // jQuery
script(src='javascripts/my-jquery.js')
  // Include all compiled plugins (below), or include individual files as needed
script(src='javascripts/bootstrap.min.js')
// SCRIPTS
// Script Google SignIn
//
  Script GoogleAnalytics
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-71659502-1', 'auto');
  ga('send', 'pageview');
  </script>
