meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='google-signin-client_id', content='456503566619-20q669of0e5ts010ft8frbbh8b1atuv7.apps.googleusercontent.com')
// The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
title Simplyk Platform
// fonts
link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300|Slabo+27px', rel='stylesheet', type='text/css')
// Bootstrap
link(href='stylesheets/css/bootstrap.min.css', rel='stylesheet')
link(href='stylesheets/style-simplyk.css', type='text/css', rel='stylesheet')
link(rel="stylesheet" href="stylesheets/font-awesome-4.5.0/css/font-awesome.min.css")
// <script type="text/javascript" src="js/changeForm.js"></script>
// Google Sign-in
script(src='https://apis.google.com/js/platform.js', async='', defer='')
// openlayers
script(src='http://openlayers.org/en/v3.13.0/build/ol.js', type='text/javascript')
//octicons/fonticons
script(src="https://use.fonticons.com/a977a97f.js")
link(rel="stylesheet" href="stylesheets/octicons/octicons.css")
// favicon
link(rel='shortcut icon', type='image/x-icon', href='favicon/favicon.ico')
link(rel='apple-touch-icon', sizes='57x57', href='favicon/apple-touch-icon-57x57.png')
link(rel='apple-touch-icon', sizes='60x60', href='favicon/apple-touch-icon-60x60.png')
link(rel='apple-touch-icon', sizes='72x72', href='favicon/apple-touch-icon-72x72.png')
link(rel='apple-touch-icon', sizes='76x76', href='favicon/apple-touch-icon-76x76.png')
link(rel='apple-touch-icon', sizes='114x114', href='favicon/apple-touch-icon-114x114.png')
link(rel='apple-touch-icon', sizes='120x120', href='favicon/apple-touch-icon-120x120.png')
link(rel='apple-touch-icon', sizes='144x144', href='favicon/apple-touch-icon-144x144.png')
link(rel='apple-touch-icon', sizes='152x152', href='favicon/apple-touch-icon-152x152.png')
link(rel='apple-touch-icon', sizes='180x180', href='favicon/apple-touch-icon-180x180.png')
link(rel='icon', type='image/png', href='favicon/favicon-32x32.png', sizes='32x32')
link(rel='icon', type='image/png', href='favicon/android-chrome-192x192.png', sizes='192x192')
link(rel='icon', type='image/png', href='favicon/favicon-96x96.png', sizes='96x96')
link(rel='icon', type='image/png', href='favicon/favicon-16x16.png', sizes='16x16')
link(rel='manifest', href='favicon/manifest.json')
link(rel='mask-icon', href='favicon/safari-pinned-tab.svg', color='#5bbad5')
meta(name='apple-mobile-web-app-title', content='Simplyk')
meta(name='application-name', content='Simplyk')
meta(name='msapplication-TileColor', content='#da532c')
eta(name='msapplication-TileImage', content='/mstile-144x144.png')
meta(name='theme-color', content='#ffffff')