meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='google-signin-client_id', content='456503566619-20q669of0e5ts010ft8frbbh8b1atuv7.apps.googleusercontent.com')
// The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
title Simplyk Platform
//jQuery
script(rel="stylesheet" src="javascripts/jquery.js")
// fonts
link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300|Slabo+27px', rel='stylesheet', type='text/css')
// Bootstrap
link(href='stylesheets/css/bootstrap.min.css', rel='stylesheet')
link(href='stylesheets/style-simplyk.css', type='text/css', rel='stylesheet')
link(rel="stylesheet" href="stylesheets/font-awesome-4.5.0/css/font-awesome.min.css")
// <script type="text/javascript" src="js/changeForm.js"></script>
// Google Sign-in
script(src='https://apis.google.com/js/platform.js', async='', defer='')
// openlayers
script(src='http://openlayers.org/en/v3.13.0/build/ol.js', type='text/javascript')
//octicons/fonticons
script(src="https://use.fonticons.com/a977a97f.js")
link(rel="stylesheet" href="stylesheets/octicons/octicons.css")
meta(name='apple-mobile-web-app-title', content='Simplyk')
meta(name='application-name', content='Simplyk')
meta(name='msapplication-TileColor', content='#da532c')
meta(name='msapplication-TileImage', content='/mstile-144x144.png')
meta(name='theme-color', content='#ffffff')