// navbar
block vars
  - var session = session
  - var page

nav#nav-me.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href='map')
        img(alt='Brand', src='images/simplyk-text-egg-hor.png')
    ul.nav.navbar-nav.navbar-left
      li.navbar-brand(role='presentation')
        span.label.label-danger SITE EN CONSTRUCTION
    ul.nav.navbar-nav.navbar-right
      if user
        unless page=='profile'
          li.navbar-link(role='presentation')
            a(href='profile') Mon profil
        unless page=='map'
          li.navbar-link(role='presentation')
            a(href='map') Carte
      if user
        li(role='presentation')
          form.navbar-form( method='post', action='logout')
            button.btn.btn-success-outline.pinkow(type='submit') Déconnexion