extends ./layout.jade
block vars
  - var page = 'profile'

block content
  #map-section.container-fluid
    .row
      .col-md-6.col-md-offset-3
        .page-header
          h1
            | Mon profil 
            small
        |           
        ul.list-group
          li.list-group-item
            | Prénom: #{user.givenName}
            small
          |             
          li.list-group-item
            | Nom: #{user.surname}
            small
          |             
          li.list-group-item
            | Âge: #{user.customData.age}
            small
          |             
          li.list-group-item
            | Adresse mail: #{user.email}
            small